<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fraiman.zeev.plusrussianteam02">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Russian app#1 for IntizarSiraz"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Level03"></activity>
        <activity android:name=".Level01" />
        <activity android:name=".Level02" />
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>